<?xml version="1.0" encoding="utf-8"?>

<!-- Note: the actual manifest file used in your APK merges this file with contributions
     from the modules on which your app depends (such as FtcRobotController, etc).
     So it won't ultimately be as empty as it might here appear to be :-) -->

<!-- The package name here determines the package for your R class and your BuildConfig class -->
<manifest
    package="org.firstinspires.ftc.teamcode"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 读取您的USB存储设备中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 修改或删除您的USB存储设备中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:requestLegacyExternalStorage = "true"
        />
</manifest>
